@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------------------
        Stat gauge animation
-------------------------------*/

.stat-gauge-bg {
  background: repeating-linear-gradient(45deg, #A1CD9B, #A1CD9B 5px, #91C58A 5px, #91C58A 10px);
  background-size: 1rem 1rem;
}

.stat-gauge-animation {
  -webkit-animation: 1s linear 0s infinite stat-gauge-stripes;
  animation: 1s linear infinite stat-gauge-stripes;
}

@-webkit-keyframes stat-gauge-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes stat-gauge-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

/*-------------------------------
        Pokémon type icons
-------------------------------*/

.bug {
  background: #92BC2C;
  box-shadow: 0 0 13px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 13px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 13px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 13px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 13px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 13px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 13px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 13px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 13px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 13px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 13px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 13px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 13px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 13px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 13px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 13px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 13px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 13px #539DDF;
}